body {
  background: rgb(244, 134, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  font-family: arial;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 3rem;
  box-shadow: 2px 2px 10px rgb(203, 87, 19);

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}
a {
  border: 1px solid white;
  text-decoration: none;
  padding: 1rem;
  margin: .5rem;
  color: white;
  border-radius: 5px;
}

input {
  border: none;
  font-size: 2rem;
  font-family: arial;
  text-align: right;

}

#horoscope {
  font-size: 4rem;
}
#picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

img {
  width: 50%;
}
